body {
    background-color: white;
}
div {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

header {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: white;

}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#logo img{
    width: 150px;
}

#navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
#navbar ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
    margin: 5px;
    width: 70px;
    height: 100px;
    border-top: 3px solid transparent;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
/* */

#navbar ul li.active {
    border-top: 3px solid aqua;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
#navbar ul li:focus, #navbar ul li:visited, #navbar ul li:hover, #navbar ul li:active{
    border-top: 3px solid aqua;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}


#content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1280px;
    margin: 0 auto 0 auto ;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 100px;
}

@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -200%;
    }
    98% {
      left: -200%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  
  
  * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
  }
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }
  
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .carousel {
    position: relative;
    padding: 20px;
    height: 550px;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
  }
  
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide1 {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-image:url("/images/slider/bg1.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
  
  .carousel__slide2 {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-image:url("/images/slider/bg2.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
  

.contentslide {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 50px;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.contentslide h3 {
    font-size: 20px;
    color:white;


}
.contentslide span {
    color: cadetblue;
}
.contentslide .upper {
    text-transform: uppercase;
}
.contentslide p {
    color:white;
    font-size: 10px;
}
.contentslide button {
    background-color: cadetblue;
    padding: 10px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top : 20px;
    border-radius: 15px;
    border-width: 0px;
    

    
}
.pbar {
    position: absolute;
    width : 100%;
    height: 2px;
    bottom: 0;
    background-color: grey;
}
.pbarfifty {
    width : 50%;
    height: 2px;
    position: relative;
    background-color: cadetblue;
}
.pbarfull {
    width: 100%;
    height: 2px;
    position: relative;
    background-color: cadetblue;
}
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide2 .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }

  
  .carousel__prev {
    position: absolute;
    top: 50%;
    left: 0px;
    font-size: 0;
    background-color: rgba(0, 0, 0, 0.603);
    padding: 10px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  .carousel__next {
    position: absolute;
    top: 50%;
    right: 0px;
    font-size: 0;
    background-color: rgba(0, 0, 0, 0.603);
    padding: 10px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  
  .arrowl {
      
    left: 50%;
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  width: 15px;
    height: 15px;
  -ms-transform: rotate(135deg);
      transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
  
  .arrowr {
    right:5px;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    width: 15px;
    height: 15px;
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
.cat_intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
}
.cat_title {
    text-transform: uppercase;
    margin-bottom: 0;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(221, 221, 221);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dot_services {
    position: relative;
    top: -15px;
    height: 30px;
    width: 30px;
    border: 6px solid white;
    background-color: rgb(113, 176, 206);
    border-radius: 50%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

.cat_text {
    text-align: center;
    max-width: 500px;
}
#services_content{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
}

.services_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
}
.services_flex:nth-child(2n) {
    margin-top: 50px;
}
.sub_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 10px 0 10px 0 ;

}

.sub_left {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 25px;
    border: 1px solid rgb(221, 221, 221);
    height: 60px;
    width: 60px;
    border-radius: 40px;
    color:  rgb(113, 176, 206);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;


}
.sub_left i {
    font-size: 25px;
    position: relative;
    margin: 17px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.dotsub {
    position: absolute;
    right: -7.5px;
    height: 15px;
    width: 15px;
    background-color: rgb(113, 176, 206);
    border-radius: 50%;
    border: 2px solid white;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.sub_right p{
    max-width: 450px;
    font-family: 'Roboto', sans-serif;
    color: gray;
    margin: 0;
    line-height: 25px;
}

h3.sub_title {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

#nos_projets {
    background-color: rgb(248, 248, 248);
    margin: 0;
    padding: 10px; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
#nos_projets .cat_text {
    margin-bottom: 50px;
}

.dot_projets {
    position: relative;
    top: -15px;
    height: 30px;
    width: 30px;
    border: 6px solid white;
    background-color: rgb(113, 176, 206);
    border-radius: 50%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.projet-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
}

.projet-cat {
    position: relative;
    background-color: rgb(236, 236, 236);
    color: rgb(121, 121, 121);
    font-size: 12px;
    padding: 10px;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.projet-cat:first-child {
    position: relative;
    background-color: rgb(113, 176, 206);
    border-bottom: 3px solid rgb(89, 140, 163);
    color: white;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.projet-cat:first-child:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    border-top: solid 9px rgb(89, 140, 163);
    border-left: solid 9px transparent;
    border-right: solid 9px transparent;
}
.projet-cat:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.projet-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 1024px;  

}
.projet-item {
    position: relative;
    max-width: 220px;
    margin: 10px;
}
.projet-item img {
    position: relative;
    width: 100%;
}
.projet-item .itemhover {
    display: none;
    position: absolute;
    bottom:0;
}
.projet-item:hover .itemhover  {
    display: block;
    background-color: rgba(0, 0, 0, 0.363);
    color: white;
    bottom: 0;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 15px;

}
.itemhover h3, .itemhover p{
    margin: 0;
}

.itemicon {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top:-25px;
    right: 10px;
    height: 30px;
    width: 30px;
    border-radius: 70px;
    border: 2px solid white;
    background-color: rgb(89, 140, 163);
    padding: 20px;
    font-size: 12px;
}

.contactsection {
    position: relative;
    height: 100vh;
}

.framecontact {
    z-index: 5;
}
.form {
    position : absolute;
    top: 20px;
    right: 25px;
    padding: 25px;
    background-color: rgba(245, 245, 245, 0.8);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;

}

.inputform {
    background-color: white ;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

@media (max-width: 650px) {
    body {
        padding: 0;
        margin:0;
    }
    header {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        height: auto;
        width: 100%;
        padding-top:  20px;
    }
   
    #navbar ul {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0;
    }
    #navbar ul li {
    height: 30px;
    width: auto;
    padding:3px;
    margin:0;
    }

    .carousel {
        height: 275px;
    }
    .contentslide {
        width: fit-content;
    }

    #services_content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    
    .services_flex {
        width: 100%;
        padding: 10px;
    }
    .services_flex img {
        width:100%;
    }

    .sub_content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

    }
    .sub_left {
        margin-bottom: 20px;
        margin-right: 0;
    }
    .sub_right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}